################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs
/Laboratorio 8-1/.vs/Laboratorio 8-1
/.vs/ds4/v17
/Parcial 1/.vs/Parcial 1
/Laboratorio 5-1/.vs/Laboratorio 5-1
